@{
    ViewBag.Title = "manager";
}

@*<h2>manager</h2>
<div id="header"></div>
<div class="row  row-offcanvas row-offcanvas-left active">
    <div id="sidebar" class="col-md-3 sidebar-offcanvas"></div>
    <div id="main" class="col-md-9"></div>
</div>*@

<div class="row row-offcanvas row-offcanvas-left">

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

    </div><!--/span-->

    <div class="col-xs-12 col-sm-9">
        <p class="">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="row" id="main">
            
        </div><!--/row-->
    </div><!--/span-->
    
   

</div>




@section css{
    @Styles.Render("~/Content/datetimepickercss")
}
@section scripts {

    <script type="text/template" id="page-item-view">
        <a href="#<%=id%>"><%=Title%></a>
    </script>
    <script type="text/template" id="page-path-view">
        <span class="page-path"><%=Path%></span>
    </script>
    <script type="text/template" id="sample-view">
        <%=name%>
    </script>
    <script type="text/template" id="page-options-view">
        <ul class="page-options">
            <li><a class="add-page" href="#<%=Id%>/add">Add a page under '<%=Title%>'</a></li>
            <li><a class="edit-page" href="#<%=Id%>/edit">Edit  '<%=Title%>'</a></li>
            <li><a class="manage-widgets" href="#<%=Id%>/widgets">Manage widgets for  '<%=Title%>'</a></li>
        </ul>
    </script>
    <script type="text/template" id="page-form">
    <h3>Add a Page</h3>
    <form>
        <input type="hidden" name="Id" Id="Id" value="<%=Id%>" />
        <input type="hidden" name="ParentId" id="ParentId" value="<%=ParentId%>" />
        <div class="form-horizontal">
            <div class="form-group">
                <label for="Title" class="control-label col-md-2">Title</label>
                <div class="col-md-10">
                    <input type="text" name="Title" id="Title" value="<%=Title%>" class="form-control" />
                    <span class="help-block hidden"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="HtmlDescription" class="control-label col-md-2">Body</label>
                <div class="col-md-10">
                    <textarea name="HtmlDescription" id="HtmlDescription" class="form-control"><%=HtmlDescription%></textarea>
                    <span class="help-block hidden"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="IsApproved" class="control-label col-md-2">Publish</label>
                <div class="col-md-10">
                    <input type="checkbox" name="IsApproved" id="IsApproved" <%if(IsApproved){%> checked <%}%> />
                    <span class="help-block hidden"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="PublishDateUtc" class="control-label col-md-2">Publish On</label>
                <div class="col-md-10">
                    <div class="input-group date">
                        <input type="text" name="PublishDateUtc" id="PublishDateUtc" value="<%=PublishDateUtc%>" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span class="help-block hidden"></span>
                    </div>
                    </div>
            </div>

            <div class="form-group">
                <label for="Slug" class="control-label col-md-2">Url-Friendly Name</label>
                <div class="col-md-10">
                    <input type="text" name="Slug" id="Slug" value="<%=Slug%>" class="form-control" />
                    <span class="help-block hidden"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="MetaKeywords" class="control-label col-md-2">Keywords</label>
                <div class="col-md-10">
                    <input type="text" name="MetaKeywords" id="MetaKeywords" value="<%=MetaKeywords%>" class="form-control" />
                    <span class="help-block hidden"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="MetaDescription" class="control-label col-md-2">Description</label>
                <div class="col-md-10">
                    <textarea name="MetaDescription" id="MetaDescription" rows="2" class="form-control"><%=MetaDescription%></textarea>
                    <span class="help-block hidden"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button class="btn btn-submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</script>

    <script type="text/template" id="page-widgets-form">
        <h3>Widgets</h3>
    </script>
    <script id="node-template" type="text/template">
        <a href="#<%=Id%>" data-id="<%=Id%>" class="show-page"><%= Title %></a>
        <ul></ul>
    </script>
@Scripts.Render("~/bundles/editor")
@Scripts.Render("~/bundles/bootstrapdate")
    @Scripts.Render("~/bundles/backbone")
    @Scripts.Render("~/bundles/pageapp")
    <script type="text/javascript">
        $(function () {
           PageManagerApplication.start();

      //$('[data-toggle=offcanvas]').click(function () {
      //          $('.row-offcanvas').toggleClass('active');
      //      });
      //  });

    </script>
}

