@using System.Web.Optimization 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Html.RawHeader()
    @RenderSection("rawHeader", required: false)
</head>
<body>
    <header></header>
    <section id="main-content">
        <h1>SAMPLE</h1>
        @RenderBody()
    </section>
    <footer></footer>



    @Scripts.Render("~/bundles/amphiprion/jquery")
    @Scripts.Render("~/bundles/amphiprion/application")
    <script type="text/javascript">
            jQuery.amphiprion.globals.setTZCookie({path:'@Url.Content("~/").TrimEnd(new char[]{'/'})',tzOffsetSeconds:(new Date()).getTimezoneOffset()});
    </script>
    @RenderSection("scripts", required: false)
    @Html.RawFooter()
</body>
</html>
