@model AmphiprionCMS.Areas.Administration.Models.PageCreateEditModel

@{
    ViewBag.PageTitle = "Edit Page";
}
<h2>Editing '@Model.Title'</h2>
@Html.EditorForModel("_addEdit")
<script type="text/javascript"> $.validator.setDefaults({ ignore: '' }); </script>

@section css{
    @Styles.Render("~/Content/datetimepickercss")
}
@section scripts {
   
    @Scripts.Render("~/bundles/bootstrapdate")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/adapter")
    @Scripts.Render("~/bundles/jqueryval")
}
