@model AmphiprionCMS.Areas.Administration.Models.AccessDefinitionModel
           
<tr>
    <td >@Model.Role
    @Html.HiddenFor(m=>m.Role)</td>
    <td class="text-center">@Html.CheckBoxFor(m => m.CanRead)</td>
    <td class="text-center">@Html.CheckBoxFor(m => m.CanEdit)</td>
    <td class="text-center">@Html.CheckBoxFor(m => m.CanDelete)</td>
    <td class="text-center">@Html.CheckBoxFor(m => m.CanPublish)</td>
</tr>

